.footer {
    text-align: center;
    margin-top: var(--spacing-unrelated-items);
    padding: var(--spacing-related-items);
    border-top: 1px solid var(--color-footer-separator);
    min-height: 5rem;
    display: grid;
    justify-items: center;
}
.footer address {
    display: grid;
    grid-auto-columns: 1fr;
    justify-content: center;
    column-gap: var(--spacing-indirectly-related-items);
}
.footer address > ul:has(> li > :any-link:only-child) {
    margin-bottom: var(--spacing-unrelated-items);
}
@media (width > 100ch) {
    .footer address {
        grid-template-rows: [title-start copyright-start] auto [title-end links-start] auto [links-end copyright-start] auto [copyright-end];
    }
    .footer address > h2 {
        grid-row: title;
    }
    .footer address > ul:has(> li > :any-link:only-child) {
        grid-row: links;
    }
}

.copyright {
    text-align: center;
    opacity: .3;
}

:any-link {
    color: var(--color-links);
}
:any-link:visited {
    color: var(--color-links-visited);
}
:any-link svg * {
    fill: currentColor;
}
:any-link svg {
    color: var(--color-text);
    opacity: .3;
    max-height: 1rem;
}
:any-link:hover svg {
    opacity: 1;
}
ul:has(> li > :any-link:only-child) {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul > li:has(> :any-link:only-child > svg:only-child) {
    display: inline;
    width: fit-content;
    margin-inline: var(--spacing-related-items);
}
